name: Deploy to GCP VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Configure SSH Key
      run: |
        echo "${{ secrets.YOUR_SSH_PRIVATE_KEY }}" > ssh_key
        chmod 600 ssh_key
        eval "$(ssh-agent -s)"
        ssh-add ssh_key

    - name: Debug Connection
      run: |
       GCP_INSTANCE_IP="${{ secrets.YOUR_GCP_INSTANCE_IP }}"
       GCP_USERNAME="${{ secrets.YOUR_GCP_USERNAME }}"
       if [ -z "$GCP_INSTANCE_IP" ]; then
        echo "Error: GCP_INSTANCE_IP is not set."
        exit 1
       fi
       if [ -z "$GCP_USERNAME" ]; then
        echo "Error: GCP_USERNAME is not set."
        exit 1
       fi
        echo "Connecting to IP: $GCP_INSTANCE_IP"
        scp -r -i ssh_key . $GCP_USERNAME@$GCP_INSTANCE_IP:/var/www/html/sslops

    - name: Restart Nginx and PHP-FPM
      run: |
       GCP_INSTANCE_IP="${{ secrets.YOUR_GCP_INSTANCE_IP }}"
       if [ -z "$GCP_INSTANCE_IP" ]; then
        echo "Error: GCP_INSTANCE_IP is not set."
        exit 1
       fi
        ssh -i ssh_key ${{ secrets.GCP_USERNAME }}@$GCP_INSTANCE_IP 'sudo systemctl restart nginx && sudo systemctl restart php7.4-fpm'
      env:
        YOUR_GCP_USERNAME: ${{ secrets.GCP_USERNAME }}

